:root {
  --anthracite: #29282d;
  --volcanicGlass: #625c60;
  --veryPeri: #6868ab;
  --cloudDancer: #f0ede8;
  font-family: "Playfair Display", serif;
  font-family: "Source Sans Pro", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
body {
	background: var(--cloudDancer);
}
section:not(:first-child) {
	padding: 3rem;
	border-top: .5rem solid var(--veryPeri);
}
.container {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  padding: 0 5rem;
}
.header {
	position: fixed;
	width: 100%;
  background: var(--veryPeri);
  padding: 24px 0;
	z-index: 100;
  &__nav {
    height: 100%;
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__item {
    height: 100%;
    margin: auto 0.5rem;
  }
  &__link {
    padding: 1rem 0.5rem;
    font: 500 1.2rem "Playfair Display", serif;
    color: var(--cloudDancer);
    border-bottom: 0.1rem solid var(--veryPeri);
    transition: 0.5s;
    &:hover {
      border-bottom: 0.4rem solid var(--cloudDancer);
    }
  }
}
.heading {
	font: 700 5rem/1 "Playfair Display", serif;
}
.title {
	font: 200 3rem/1 "Source Sans Pro", sans-serif;
	margin-bottom: 2rem;
}
.text {
	font: 300 2rem/1 "Source Sans Pro", sans-serif;
}
main {
	position: relative;
	top: 200px;
}
.profile {
	margin-bottom: 5rem;
  &__info {
		display: flex;
  }
  &__media {
		flex: 1 1 20%;
    max-width: 300px;
    max-height: 300px;
		margin-right: 2rem;
    border-radius: 50%;
		overflow: hidden;

  }
  &__avatar {
    width: 600px;
    height: 600px;
    object-fit: cover;
		object-position: -270px -170px;
  }
  &__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 2 1 40%;
  }
  &__contacts {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 1 1 20%;
  }
  &__contacts-item {
		margin-bottom: 1rem;
  }
  &__contacts-link {
		display: flex;
		align-items: center;
		font: 500 1rem/1 "Source Sans Pro", sans-serif;
		color: var(--anthracite);
		svg{
			fill: var(--veryPeri);
			margin-right: .5rem;
		}
  }
}
.summary {
	// background: var(--anthracite);
	.summary__content {

	}
}