:root {
  --anthracite: #29282d;
  --volcanicGlass: #625c60;
  --veryPeri: #6868ab;
  --cloudDancer: #f0ede8;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
@media (max-width: 768px) {
  a {
    text-decoration: 1px solid var(--veryPeri);
    text-decoration-line: underline;
  }
}

ul,
ol,
li {
  list-style: none;
}

body {
  background: var(--veryPeri);
}

main {
  position: relative;
  background: var(--cloudDancer);
}

section:not(:first-child) {
  padding: 5rem;
  border-top: 1rem solid var(--veryPeri);
}
@media (max-width: 1240px) {
  section:not(:first-child) {
    padding: 4rem;
  }
}
@media (max-width: 1024px) {
  section:not(:first-child) {
    padding: 4rem 2rem;
  }
}

section:nth-child(odd) {
  background: #fff;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  padding: 0 5rem;
}
@media (max-width: 1240px) {
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 0.2rem;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--veryPeri);
  padding: 1.5rem 0;
  z-index: 100;
}
@media (max-width: 978px) {
  .header {
    display: none;
  }
}
.header__nav {
  height: 100%;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__item {
  height: 100%;
  margin: auto 0.5rem;
}
.header__link {
  padding: 0.5rem 0.5rem;
  font: 500 1.2rem "Playfair Display", serif;
  color: var(--cloudDancer);
  border-bottom: 0 solid var(--veryPeri);
  transition: 0.5s;
}
.header__link:hover {
  border-bottom: 0.15rem solid var(--cloudDancer);
}

.heading {
  font: 700 5rem/1 "Playfair Display", serif;
}
@media (max-width: 768px) {
  .heading {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .heading {
    font-size: 4rem;
  }
}
@media (max-width: 400px) {
  .heading {
    font-size: 3rem;
  }
}

.title {
  position: relative;
  font: 700 3rem/1 "Playfair Display", serif;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
}
.title:not(:first-child) {
  font: 200 3rem/1 "Source Sans Pro", sans-serif;
}
@media (max-width: 500px) {
  .title:not(:first-child) {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .title:not(:first-child) {
    font-size: 1.8rem;
  }
}
.title:not(:first-child)::before, .title:not(:first-child)::after {
  display: none;
}
.title::before, .title::after {
  position: absolute;
  bottom: 0.2rem;
  font: 600 2rem/1 monospace;
  color: var(--veryPeri);
}
@media (max-width: 500px) {
  .title::before, .title::after {
    font-size: 1.5rem;
  }
}
.title::before {
  content: "< ";
  margin-left: -1.5rem;
}
.title::after {
  content: " >";
  margin-left: 0.5rem;
}

.text {
  font: 300 2rem/1 "Source Sans Pro", sans-serif;
}
@media (max-width: 768px) {
  .text {
    text-align: center;
  }
}

.profile {
  padding-bottom: 5rem;
  padding-top: 10rem;
}
@media (max-width: 500px) {
  .profile {
    padding-top: 5rem;
  }
}
.profile__info {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1240px) {
  .profile__info {
    justify-content: center;
  }
}
.profile__media {
  flex: 0 0 300px;
  height: 300px;
  margin-right: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .profile__media {
    margin: 2rem;
  }
}
.profile__avatar {
  width: 600px;
  height: 600px;
  object-fit: cover;
  object-position: -270px -170px;
}
.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 2 1 40%;
}
@media (max-width: 1240px) {
  .profile__content {
    flex: 0 1 40%;
  }
}
.profile__content .title {
  margin-bottom: 0;
}
.profile__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 20%;
}
@media (max-width: 1240px) {
  .profile__contacts {
    justify-content: center;
    flex: 0 0 50%;
    margin-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.profile__contacts-item {
  margin-bottom: 1rem;
}
@media (max-width: 1240px) {
  .profile__contacts-item {
    margin-right: 2rem;
  }
}
.profile__contacts-link {
  display: flex;
  align-items: center;
  font: 500 1rem/1 "Source Sans Pro", sans-serif;
  color: var(--anthracite);
}
.profile__contacts-link:hover {
  text-decoration: underline;
}
.profile__contacts-link svg {
  fill: var(--veryPeri);
  margin-right: 0.5rem;
}

.skills__list {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .skills__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.skills__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .skills__item {
    justify-content: center;
  }
}
.skills__item p {
  display: flex;
  align-items: center;
}
.skills__item img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}
@media (max-width: 768px) {
  .skills__item img {
    margin: 1rem;
  }
}

.code p {
  margin-bottom: 1.5rem;
}
.code code {
  color: var(--cloudDancer);
  border-radius: 0.5rem;
  font: 500 1.5rem/1 monospace;
}
@media (max-width: 768px) {
  .code code {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .code code {
    font-size: 0.7rem;
  }
}

.education__wrap {
  display: flex;
}
@media (max-width: 768px) {
  .education__wrap {
    flex-direction: column;
    text-align: center;
  }
}
.education__content {
  flex: 2 1 70%;
}
@media (max-width: 768px) {
  .education__content {
    margin-bottom: 4rem;
  }
}
.education__courses {
  flex: 1 1 30%;
}

.languages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .languages__list {
    flex-direction: column;
  }
}

.projects ul {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .projects ul {
    flex-direction: column;
    align-items: center;
  }
}
.projects ul li {
  flex: 0 0 45%;
  margin-bottom: 1rem;
}
.projects ul li a {
  position: relative;
  color: var(--anthracite);
  z-index: 10;
}
.projects ul li a:before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 0;
  background: var(--veryPeri);
  height: 0.5rem;
  transition: 0.2s;
}
.projects ul li a:hover:before {
  width: 100%;
}

.footer {
  position: relative;
  background: var(--veryPeri);
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.footer__wrap li:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__wrap img {
  height: 3rem;
}
@media (max-width: 500px) {
  .footer__wrap img {
    height: 2rem;
  }
}
.footer__wrap p {
  flex: 0 0 15%;
  margin-left: auto;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
